@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Section Begin -->
<section class="hero spad set-bg" data-setbg="img/fond4.jpg" id="Home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero__text">
                    <span><b>RASSOUL-TECH</b></span>
                    <h2 style="color:#fff;">Entreprise de conception Web et de solution en ligne</h2>
                    <a href="#" class="primary-btn normal-btn">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Consultation Section Begin -->
<section class="consultation">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="consultation__form">
                    <div class="section-title">
                        <span>DEMANDE POUR VOTRE</span>
                        <h2>Commande</h2>
                    </div>
                    <form action="#">
                        <input type="text" placeholder="Nom">
                        <input type="text" placeholder="Email">
                        <div class="datepicker__item">
                            <input type="text" placeholder="Date" class="datepicker">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <select>
                            <option value="">Type de service</option>
                            <option value="">site Web</option>
                            <option value="">Cartes de visite</option>
                            <option value="">Flyers</option>
                            <option value="">Affiches publicitaires</option>
                            <option value="">Administration BBD</option>
                            <option value="">Design graphique</option>
                            <option value="">Marketing digitale</option>
                            <option value="">UI Design</option>
                            <option value="">Edition vidéo</option>
                        </select>
                        <button type="submit" class="site-btn">Prendre rendez-vous</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="consultation__text">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="consultation__text__item">
                                <div class="section-title">
                                    <span>Bienvenue à RASSOULTECH</span>
                                    <h2>Trouvez les meilleurs développeurs avec <b>RASSOULTECH</b></h2>
                                </div>
                                <p>
                                    30 ans d'expérience en Informatique.Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                    dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="consultation__video set-bg" data-setbg="img/consultation-video.jpg">
                                <a href="https://www.youtube.com/watch?v=N_Hqq3NT24w" class="play-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Consultation Section End -->
<!-- Chooseus Section Begin -->
<section class="chooseus spad" id="Services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Nos services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-5.png" alt="">
                    <h5>Développement Web</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-6.png" alt="">
                    <h5>Web Design</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="~/img/icons/ci-2.png" alt="" style="margin-top:15px;">
                    <h5>Administration BBD</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-1.png" alt="">
                    <h5>Infographie</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-3.png" alt="">
                    <h5>Développement Mobile</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-4.png" alt="">
                    <h5>Marketing Digitale</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-9.png" alt="" style="margin-top:15px;">
                    <h5>Edition vidéo</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="chooseus__item">
                    <img src="img/icons/ci-10.png" alt="">
                    <h5>Design graphique</h5>
                    <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Chooseus Section End -->
<!-- Pricing Section Begin -->
<section class="services spad set-bg" data-setbg="img/services-bg.jpg" id="Tarifs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                    <h2 style="color: #17a2b8;">Nos tarifs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <h3>Développement Web</h3>
                    </div>
                    <ul>
                        <li>
                            <h6>Site vitrine</h6>
                            <span>14630 Fcfa</span>
                        </li>
                        <li>
                            <h6>Flyers</h6>
                            <span>7750 Fcfa</span>
                        </li>
                        <li>
                            <h6>Affiche publicitaire</h6>
                            <span>8500 Fcfa</span>
                        </li>
                        <li>
                            <h6>Lacoste personnalisé</h6>
                            <span>10000 Fcfa</span>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn">Commander maintenant</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <h3>Web Design</h3>
                    </div>
                    <ul>
                        <li>
                            <h6>Carte de visite</h6>
                            <span>14630 Fcfa</span>
                        </li>
                        <li>
                            <h6>Flyers</h6>
                            <span>7750 Fcfa</span>
                        </li>
                        <li>
                            <h6>Affiche publicitaire</h6>
                            <span>8500 Fcfa</span>
                        </li>
                        <li>
                            <h6>Lacoste personnalisé</h6>
                            <span>10000 Fcfa</span>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn">Commander maintenant</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pricing__item">
                    <div class="pricing__item__title">
                        <h3>Infographie</h3>
                    </div>
                    <ul>
                        <li>
                            <h6>Carte de visite</h6>
                            <span>14630 Fcfa</span>
                        </li>
                        <li>
                            <h6>Flyers</h6>
                            <span>7750 Fcfa</span>
                        </li>
                        <li>
                            <h6>Affiche publicitaire</h6>
                            <span>8500 Fcfa</span>
                        </li>
                        <li>
                            <h6>Lacoste personnalisé</h6>
                            <span>10000 Fcfa</span>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn">Commander maintenant</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->
<!-- Team Section Begin -->
<section class="team spad" id="Team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    @*<span>Notre équipe</span>*@
                    <h2>Notre équipe</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-5.jpg" alt="">
                    <h5>Al Hassane Diatta</h5>
                    <span>Développeur full stack & Designer</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-2.jpg" alt="">
                    <h5>Ababacar Thiombane</h5>
                    <span>Développeur full stack</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-1.jpg" alt="">
                    <h5>Diary Diagne</h5>
                    <span>SEO</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-1.jpg" alt="">
                    <h5>Yummy</h5>
                    <span>Informaticien</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-1.jpg" alt="">
                    <h5>Amina Diop</h5>
                    <span>Commerciale</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="img/team/team-1.jpg" alt="">
                    <h5>Christophe Samb</h5>
                    <span>Développeur</span>
                    <div class="team__item__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>Addresse</h5>
                        <p>Damel, Cité Léopold S Senghor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>Ligne d'assistance</h5>
                        <p>+221 77 881 64 02</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="contact__widget">
                    <div class="contact__widget__icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="contact__widget__text">
                        <h5>Email</h5>
                        <p>rassoultech@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact__content">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__pic">
                        <img src="img/contact-pic.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <h3>Entrer en contact</h3>
                        <form action="#">
                            <input type="text" placeholder="Nom">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Site Web">
                            <textarea placeholder="Message"></textarea>
                            <button type="submit" class="site-btn">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->